<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
      <div class="banner ui-g-12">
        <h1>SWUI</h1>
        <p class="sub">The Star Wars UI</p>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Resources</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/people">Persons <i class="icons-sw swg swg-darthvader-4 swg-2x"></i></a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/films">Films <i class="icons-sw swg swg-lightsabers-2 swg-2x"></i></a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/starships">Starships <i class="icons-sw swg swg-jedistarfight swg-2x"></i></a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/vehicles">Vehicles <i class="icons-sw swg swg-sandcrawler swg-2x"></i></a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/species">Species <i class="icons-sw swg swg-yoda-3 swg-2x"></i></a></li>
    <li class="navbar-menuitem disabled" routerLinkActive="ativo"><a routerLink="/planets">Planets <i class="icons-sw swg swg-deathstar-o swg-2x"></i></a></li>
  </ul>
</nav>
