<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
      <div class="banner ui-g-12">
        <h1>SWUI</h1>
        <p class="sub">The Star Wars UI</p>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Resources</li>
    <li class="navbar-menuitem"><a routerLink="/people">Persons</a></li>
    <li class="navbar-menuitem"><a routerLink="/films">Films</a></li>
    <li class="navbar-menuitem"><a routerLink="/starships">Starships</a></li>
    <li class="navbar-menuitem"><a routerLink="/vehicles">Vehicles</a></li>
    <li class="navbar-menuitem"><a routerLink="/species">Species</a></li>
    <li class="navbar-menuitem"><a routerLink="/planets">Planets</a></li>
  </ul>
</nav>
