<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
      <div class="banner ui-g-12">
        <h1>SWUI</h1>
        <p class="sub">The Star Wars UI</p>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">RECURSOS</li>
    <li class="navbar-menuitem"><a href="">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="">Filmes</a></li>
    <li class="navbar-menuitem"><a href="">Naves Estelares</a></li>
    <li class="navbar-menuitem"><a href="">Veículos</a></li>
    <li class="navbar-menuitem"><a href="">Espécies</a></li>
    <li class="navbar-menuitem"><a href="">Planetas</a></li>
  </ul>
</nav>
