body{
  margin: 0;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
  background-color: #272b30;
}

a{
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus{
  text-decoration: underline;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

/* Global Primeng */
body .ui-inputtext{
  color: #3a3f44;
  background: #f5f5f5;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #1c1e22;
}

body .ui-button{
  background-color: #32383e;
  border: #32383e;
  padding: 3.8px;
}

body .ui-button:enabled:hover{
  background-color: #74818F;
}

body .ui-button:enabled:focus{
  -webkit-box-shadow: 0 0 7px 0 #ccc;
 }
