body{
  margin: 0;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
  background-color: #272b30;
}

a{
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus{
  text-decoration: underline;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}
