<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <form autocomplete="off" (ngSubmit)="search()">
        <div class="ui-g">
          <div class="ui-g-12">
            <p>/ Persons</p>
          </div>
        </div>

        <div class="ui-g-12 ui-md-10 ui-fluid">
          <input pInputText type="text" name="search" placeholder="Name" [(ngModel)]="filter.search">
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <button pButton type="submit" label="Search"></button>
        </div>
      </form>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="persons" [paginator]="true" [rows]="filter.itemsForPage" [responsive]="true" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="whenChangingPage($event)">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              No people found
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Mass</th>
            <th pTooltip="Hair Color" tooltipPosition="top">Hair</th>
            <th pTooltip="Skin Color" tooltipPosition="top">Skin</th>
            <th pTooltip="Eye Color" tooltipPosition="top">Eye</th>
            <th pTooltip="Birth Year" tooltipPosition="top">Birth</th>
            <th>Gender</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-persons>
          <tr>
            <td>{{ persons.name }}</td>
            <td>{{ persons.height }}</td>
            <td>{{ persons.mass }}</td>
            <td>{{ persons.hair_color }}</td>
            <td>{{ persons.skin_color }}</td>
            <td>{{ persons.eye_color }}</td>
            <td>{{ persons.birth_year }}</td>
            <td>{{ persons.gender }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
